<div id="formulario_101" class=" ">
  <div class="panel">
    <!-- <div class="panel-heading form-real" style="min-height: 100px; display: flex;">

      CABECERA SI ES QUE SE VA A USAR UNA PROPIA

    </div> -->

    <div class="panel-body of-a bg-light_ darker_ fondo_panel" style="position: relative;">

      <div class="col-md-10 col-md-offset-1"
        style="background-color: transparent;color: #116e7a;text-align: center;padding: 10px 50px;">
        <h1 __titulo_principal>FORMULARIO 101</h1>
        <h2 id="c_titulo" name="" style=" font-weight: 400; font-size: 20px;">
          PARA OPERADORES MINEROS
        </h2>

      </div>
      <div __contenedor_forms
        class=" bg-white_ efecto_sobre_fondo_panel col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 mt5 pt10 br12">
        <div __frms class="">
          <div __head_card class=" quest-titulo" style="font-size: 18px!important; height: 20px;"></div>
          <div class="" style=" min-height:60vh; 
                        overflow-y: auto; overflow-x: hidden; display:grid; align-items: center;">

            <!-- <div  class="row"> -->
            <div __card class="__frm_datos_general col-xs-12 ">
            </div>
            <!-- </div> -->
            <hr>
            <div class=" row_  __frm_formulario">
            </div>

            <div __card id="contenido_enviar" class="__frm_enviar text-center  p30 " __pregunta_numero="concluir">

              <div class="fs18 text-system mb20">
                <div></div>
                <br>
                <div><b>Para enviar la información presione en el botón de abajo que dice "Enviar"</b></div>
              </div>
              <button __save class="btn btn-primary btn-lg br6  w300"><i class="fa fa-send mr15"></i><span> Enviar
                  </span></button>
              <!-- <p class="pt15">Se enviarán sus respuestas, no revele contraseñas ni información confidencial, atravez de este
                                    formulario.</p> -->
            </div>
          </div>

          <div class="row __botones_navegacion" style="bottom: 5px; margin: 0 auto; width: 100%; padding: 10px;">
            <div __error class="bg-danger fs14 darker text-center mb10 p10 hide"></div>
            <div style="display: flex; justify-content: space-around;">
              <button __btn_navegar=anterior class="btn btn-system dark  pull-left bg-danger_   br8 text-center p8 fs14"
                style="cursor: pointer; width: 30%;"><i class="fa fa-chevron-left "></i> Anterior</button>
              <button __btn_navegar=siguiente
                class="btn btn-success dark pull-right bg-success_ br8 text-center p8 fs14"
                style="cursor: pointer; width: 30%;">Siguiente <i class="fa fa-chevron-right "></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>