<style>
  hr {
    margin: 20x 0;
  }

</style>
<ion-app>
  <ion-content>
    <div id="formulario_101" class="bg-content ">
      <div class="panel">
        <!-- <div class="panel-heading form-real" style="min-height: 100px; display: flex;"> 
          CABECERA SI ES QUE SE VA A USAR UNA PROPIA
        </div> -->

        <div class="panel-body of-a bg-light_ darker_ fondo_panel_" style="position: relative; background: linear-gradient(to bottom, rgb(236 236 236 / 88%) 0%,rgb(231 231 231 / 83%) 100%),
        url(./assets/img/bluelightspot.jpg) repeat center top;
        /* url(./asstes/img/data-mining.jpg) repeat center top; */
        background-size: contain;">
          <div __select_nims
            class=" mt20 text-dark-darker br12 p10 bg-white br-a br-greyer col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 ">
            <div class="wp90 center-block ">
              <span class="fw600 fs14">FORMULARIO(s) Y NÚMERO(s) NIM REGISTRADO(s) </span>
              <select __select_nim="" class="br-h-n br-t-n fs15 wp100 pl20 pv10" style="outline: none;"></select>
              <em>Si tiene mas de uno seleccione de acuerdo al mineral que se va a transportar</em>
            </div>
          </div>

          <div __frm_content
            class="efecto_sobre_fondo_panel_ bg-white_ mv30 pt10 br12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 " style="  box-shadow: 0px -1px 14px 0px;
            background-color: rgb(255 255 255 / 68%);" >
            <div __frms class="" style=" min-height:80vh; overflow-y: auto; align-items: center;">

              <div __frm_cabecera
                style="background-color: transparent; color: #116e7a;text-align: center; padding: 10px; border-bottom: 1px solid #ccc;">
                <h1 clasS="fw600 text-theme1--30">FORMULARIO 101</h1>
                <h4  class="text-theme1--30 fw600 mn ">
                  PARA MINERALES <span __tipo_mineral></span>
                </h4>
                <div class="mt15  text-dark-darker fs12 fw600">FORMULARIO ÚNICO DEPARTAMENTAL PARA CONTROL DE SALIDA,
                  AUTORIZACIÓN DE TRANSPORTE Y VENTA DE MINERALES <span __tipo_mineral></span>
                </div>
              </div>

              <div __card __frm_datos_general class=" wp100 mt30" >
                <div class="quest-titulo">
                  DATOS REGISTRADOS
                </div>
                <div class="datos-generales">
                  <div class="item-dato-general">
                    <em class="item-label">1. NÚMERO DE FORMULARIO</em>
                    <div class="item-contenido text-center" __info_general="numero_formulario">Automático</div>
                  </div>
                  <div class="item-dato-general">
                    <em class="item-label">2. NÚMERO DE NIM</em>
                    <div class="item-contenido text-center" __info_general="nim"></div>
                  </div>
                  <div class="item-dato-general">
                    <em class="item-label">3. NÚMERO DE NIT</em>
                    <div class="item-contenido text-center" __info_general="nit"></div>
                  </div>
                  <div class="item-dato-general">
                    <em class="item-label">4. PERIODO</em>
                    <div class="item-contenido text-center" __info_general="fecha_registro"></div>
                  </div>
                  <div class="item-dato-general" style="flex-basis: 100%;">
                    <em class="item-label">5. OPERADOR MINERO</em>
                    <div class="item-contenido" __info_general="nombres"></div>
                  </div>
                  <div class="item-dato-general" style="flex-basis: 100%;">
                    <em class="item-label">6. PROCEDENCIA</em>
                    <div class="item-contenido" __info_general="procedencia"></div>
                  </div>
                  <!-- <div class="item-dato-general" style="flex-basis: 100%;">
                    <em class="item-label">7. Tipo de Mineral y Leyes DM %</em>
                    <div class="item-contenido" __info_general="mineral"></div>
                  </div> -->
                </div>
              </div>

              <div __card __frm_formulario class=" mt30 flex flex-wrap align-end">
              </div>

              <div __error ></div>

              <div __card __frm_enviar class=" text-center  p30 " >

                <div class="fs14 mb20 p10 bg-primary-80 br4">
                  <h4 clasS="text-theme1--20 ">Importante</h4>
                  <div class="text-primary--60">
                    <p><b>El presente Formulario 101, tiene el carácter de declaración jurada y es de uso obligatorio para los operadores mineros, personas naturales y jurídicas que realicen el transporte y comercialización de minerales metálicos y no metálicos.</b></p>
                    <p>Su uso y aplicación esta sujeto al cumplimiento de las disposiciones de la Constitución Política del Estado, la Ley 535 de Minería y Metalúrgia, Decreto Supremo 2288, Decreto departamental 140/2021, Decreto Departamental 014/2022.</p>
                    <p><b>A partir de su emisión tiene 3 días para su utilización, caso contrario el mismo quedará sin efecto.</b></p>
                  </div>
                </div>
                <div class="flex justify-between">
                  <button __accion_form="home" class="btn bg-warning btn-lg br6 br-a br-dark wp40">
                    <i class="glyphicons glyphicons-chevron-left mr5"></i>
                    <span> Volver </span>
                  </button>
                  <button __accion_form="send" class="btn btn-primary btn-lg br6 br-a br-dark wp50">
                    <span> Enviar </span>
                    <i class="fa fa-send ml5"></i>
                  </button>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>