<style>
	/* .popup-basic {
		position: relative;
		background: #FFF;
		width: auto;
		max-width: 900px;
		margin: 40px auto;
	}

	.tabla-head thead>th {
		background-color: rgb(147, 72, 72);
	} */
</style>
<ion-app>
	<ion-content>
		<div id="config_content" class="bg-content">
			<div class="pv20 ph5">
				<div class=" bg-white col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 col-xs-12" style="    box-shadow: 1px 2px 9px 1px;">
					<div class="p20 pb10">
						<h3 class="fw600 text-theme1--30 ">Configuración</h3>
					</div>
					
					<div class="panel">
						<div class="panel-heading  bg-dark ">
							<div class="panel-title text-white-dark">
								<i class="fa fa-cogs fa-lg"></i> <span class="ml10 " __cabecera_dt>Opciones del  sistema</span>
							</div>
						</div>
						<div class="panel-body pn">
							<div class="row">
								<div class="col-md-12" __fields_config>
								</div>
							</div>
						</div>
            <div class="panel-footer flex flex-wrap justify-evenly">
              <div __error class="wp100"></div>
              <!-- CON ICONOS -->
              <button __accion="cerrar" class="btn bg-danger lighter br-a br-dark-light br6 btn-md w150 fs14">Cancelar</button>
              <button __accion="save" type="submit" class="btn btn-primary br-a br-dark-light btn-md br6 w200 fs14">Guardar</button>
            </div>
					</div>
				</div>
			</div>




		</div>
	</ion-content>
</ion-app>