<ion-app>
  <ion-content>
    <div id="login_content" class="bg-content _bg-theme1-10" style="position:relative; height: 100%;">
      <div style="position: absolute; top: 50px; padding: 0 33%">
        <h5 class="text-center" style="font-size: calc(9px + 1.4vw);;">
          Sistema de gestión y control del Formulario 101 de transporte de minerales y metales.
        </h5>
      </div>
 
      <div style="position: absolute; bottom: 0; width: 100%; display: flex; justify-content: center; background-color:#3c3c3c">
        <div>
          <img src="./assets/img/gadch_horizontal_negative_dark_lg.png" alt="" style="width: 270px;">
        </div>
      </div>  
    </div>
  </ion-content>
</ion-app>