<ion-app>
  <ion-content>
    <div id="login_content" class="bg-content _bg-theme1-10" style="position:relative; height: 100%;">
      <div style="position: absolute; top: 50px; padding: 0 33%">
        <h5 class="text-center" style="font-size: calc(9px + 1.4vw);;">
          Sistema de gestión y control del Formulario 101 de transporte de minerales y metales.
        </h5>
      </div>
 
      <div style="position: absolute; bottom: 0; width: 100%; display: flex; justify-content: center;  
      align-items: center; background-color:#ededed">
        <!-- <div> -->
          <!-- <img src="./assets/img/logo_tr_direccon_gestion_minera_md.png" class="mh5 text-center" style="width: 70px; filter: grayscale(1); " alt=""> -->
          <!-- <img src="./assets/img/gadch_horizontal_negative_dark_lg.png" alt="" style="width: 270px;">
          <img src="./assets/img/logo_laboratorio.png" class="mh5 pull-right" style="width: 80px;filter: grayscale(1);" alt=""> -->
          <img src="./assets/img/logo_tr_direccon_gestion_minera_md.png" class="mh5 text-center" style="width: 70px; height: 80px; filter: grayscale(1); " alt="">
          <img src="./assets/img/gadch_tr_vertical_fontdark_md.png" class="mh5 pull-left" style="width: 200px; filter: grayscale(1);" alt="">
          <img src="./assets/img/logo_laboratorio.png" class="mh5 pull-right" style="width: 80px; height: 80px; filter: grayscale(1);" alt="">
        <!-- </div> -->
      </div>  
    </div>
  </ion-content>
</ion-app>