<ion-app>
<ion-content>
<style>
  #toolbar_elementos.local-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #f9f9ff;
    padding: 14px;
    height: 60px;
    margin: 0 -11px 10px -11px;
    border-bottom: 1px solid #c5c5c5 !important;
  }
</style>

<div class="ph20">
  <div id="gestor_formulario" class="animated fadeIn col-md-10 col-md-offset-1 pn row mv30" style="box-shadow: 2px 1px 11px -4px;">
    <!-- <div class='bg-primary  darker ' style="display: flex; padding: 0px 2px 2px 2px"> -->
      <div class="col-xs-12 bg-white  " style="    border-style: solid;
                                                    border-width: 0px 3px 2px 3px;
                                                    border-color: rgb(106 112 130);" >
        <div class="flex align-center flex-wrap pv10" >
          <h2 class="fw600 text-theme1--30 grow-1  pv10 ph25 mn" >Editor Formulario</h2>
          <div clasS="grow-10 pl20 " >
            
            <select __rg_field="id_formulario" class="br-h-n br-t-n fs16 pl20 wp80 pv10" style="outline: none;" >
            </select>
          </div>
        </div>
        <hr style="margin: 0;">
        <input type="hidden" name="_token" __rg_field=_token value="">
        <div class="">
  
          <div class="bg-light darker ptn ">
            <div class="row bg-white" style=" margin:0 auto;">
              <div id="toolbar_elementos" class=" br-b pl50 pv5 fs14 text-center local-sticky">
                <button __accion_formulario=save class="btn btn-primary br6 pull-left" title="Guardar">
                  <i class="fa fa-save fa-2x"></i>
                  <!-- <ion-icon name="save-sharp" font-size="48"></ion-icon> -->
                </button>
                <span __agregar_elem=pregunta class="glyphicon glyphicon-plus text-center pt10 mh15"
                  style="cursor: pointer; width: 30px; height: 30px; " title="Agregar Pregunta"></span>
                |
                <span __agregar_elem=titulo class="glyphicons glyphicons-text_underline text-center pt10 mh15"
                  style="cursor: pointer; width: 30px; height: 30px;" title="Agregar titulo"></span>
                |
                <span __agregar_elem=texto class="fa fa-align-left text-center pt10 mh15"
                  style="cursor: pointer; width: 30px; height: 30px;" title="Agregar texto"></span>
                |
                <span __agregar_elem=separador class="fa-solid fa-minus  text-center pt10 mh15"
                  style="cursor: pointer; width: 30px; height: 30px;" title="Agregar separador"></span>
              </div>
  
              <div __contenido_elementos class="" style="min-height: 500px; ">
              </div>
            </div>
  
          </div>
          <div class="" style="padding: 50px;">
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
</ion-content>


</ion-app>