<ion-app style="display: flex; justify-content: start;">
  <ion-header>

    <div style="    height: 50px; display: flex; justify-content: start; padding: 0px 50px; width: 100%;" class="">
      <h1>CABECERA LOGO</h1>
    </div>

    <div class="bg-light darker p5 ">
      <a routerLink="/gestorforms"><span class=" ml10 ph10 fs14   " style="color: #5c6279;">Gestor de Formularios</span></a>
      <a routerLink="/form"><span class=" ml10 ph10 fs14   " style="color: #5c6279;">Formulario</span></a>
      <a routerLink="/users"><span class=" ml10 ph10 fs14   " style="color: #5c6279;">Usuarios</span></a>
      <!-- <a routerLink="/ingenios"><span class=" ml10 ph10 fs14   " style="color: #5c6279;">Ingenios</span></a> -->
    </div>
  </ion-header>

  <ion-content>
    <div class="container-fluid mn phn" style="background-color:  #f3f3ff ;" >
      <router-outlet></router-outlet>  
    </div>
  </ion-content>
  </ion-app>