<ion-app style="display: flex; justify-content: start;">
  <ion-header>

    <div style="    height: 50px; display: flex; justify-content: start; padding: 0px 50px; width: 100%;" class="">
      <h1>CABECERA LOGOxzzz</h1>
    </div>

    <div class="bg-light darker p5 ">
      <a routerLink="/gestorforms"><span class=" ml10 ph10 fs14 bg-info light  ">Gestor de Formularios</span></a>
      <a routerLink="/form"><span class=" ml10 ph10 fs14 bg-info light  ">Formulario</span></a>
      <a routerLink="/users"><span class=" ml10 ph10 fs14 bg-info light  ">Usuarios</span></a>
      <a routerLink="/ingenios"><span class=" ml10 ph10 fs14 bg-info light  ">Ingenios</span></a>
    </div>
  </ion-header>

  <ion-content>
    <div class="container-fluid mn phn" style="background-color: #c3a3a3 /* #f5f5ff*/ ;" >
      <router-outlet></router-outlet>  
    </div>
  </ion-content>
  </ion-app>