<style>
	.popup-basic {
		position: relative;
		background: #FFF;
		width: auto;
		max-width: 900px;
		margin: 40px auto;
	}

	.tabla-head thead>th {
		background-color: rgb(147, 72, 72);
	}
</style>
<ion-app>
	<ion-content>
		<div id="content" class="bg-content">
			<div class="pv20 ph5">
				<div class=" bg-white col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 col-xs-12" style="    box-shadow: 1px 2px 9px 1px;">
					<div class="p20 pb10">
						<h3 class="fw600 text-theme1--30 ">Gestión de Contenidos</h3>
					</div>
					
					<div class="panel">
						<div class="panel-heading  bg-dark ">
							<div class="panel-title text-white-dark">
								<i class="fa fa-paperclip fa-lg"></i> <span class="ml10 " __cabecera_dt>Noticias</span>
							</div>
							<!-- <div class="panel-title text-light">
						<i class="fa fa-file-alt fa-2x"></i> Información de <span __cabecera_dt>Usuarios</span> <span
							__cabecera_dt_est></span>
					</div> -->
						</div>
						<div class="panel-body pn">
							<div class="row">
								<div class="col-md-12">
									<button __accion="nuevo" class="btn btn-sm bg-success  m5 br4 ph30 br-a br-dark">
										<i class="fa fa-plus "></i> Agregar </button>
								</div>
							</div>
							<div class="">
								<table __data_list id="dataT" class=" hover row-border tabla-head bg-table" style="margin: 0 0 40px 0">
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>




			<!-- -----------------------------------------          Modal  --------------------------------------------------- -->
			<div id="modal" class="white-popup-block popup-basic mfp-with-anim mfp-hide">
				<div class="panel frctl">
					<!-- panel heading -->
					<div class="bg-marron--20 text-333 flex align-center p15 ">
						<i class="fa fa-paperclip fa-lg ml10"></i>
						<h2 class="panel-title ml10" __titulo><span>__</span></h2>
					</div>
					<!-- end .panel-heading section -->
					<!-- panel body -->
					<div class="panel-body of-a">
						<div class="row">
							<div class=" ph10 ">
								<!-- datos de usuario -->
								<div __fields></div>
                <textarea name="" id="" __rg_field="texto"  cols="30" rows="10"></textarea>
								<hr>
              </div>
						</div>
					</div>
					<!-- panelfooter -->
					<div class="panel-footer flex flex-wrap justify-evenly">
						<div __error class="wp100"></div>
						<!-- CON ICONOS -->
						<button __cerrar class="btn bg-danger lighter br-a br-dark-light br6 btn-md w150 fs14">Cancelar</button>
						<button __save type="submit" class="btn btn-primary br-a br-dark-light btn-md br6 w200 fs14">Guardar</button>
					</div>
				</div>
				<!-- end: .panel -->
			</div>

		</div>
	</ion-content>
</ion-app>