<style>
	.popup-basic {
		position: relative;
		background: #FFF;
		width: auto;
		max-width: 900px;
		margin: 40px auto;
	}


</style>
<ion-app>
	<ion-content>
		<div id="listaforms_content" class="bg-content">
			<div class="pv20 ph5">
				<div class=" bg-white  col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 " style="    box-shadow: 1px 2px 9px 1px;">
					<div class="p20 pb10">
						<h3 class="fw600 text-theme1--30 ">Bandeja de Formularios</h3>
					</div>
					
					<div class="panel">
						<div class="panel-heading  bg-dark ">
							<div class="panel-title text-white-dark">
								<i class="glyphicons glyphicons-cargo fa-lg"></i> <span class="ml10 " __cabecera_dt>Lista de Formularios enviados</span>
							</div>
							<!-- <div class="panel-title text-light">
						<i class="fa fa-file-alt fa-2x"></i> Información de <span __cabecera_dt>Usuarios</span> <span
							__cabecera_dt_est></span>
					</div> -->
						</div>
						<div class="panel-body pn">
							<div class="row">
								<div class="col-md-12">
									<button __accion_bandeja="nuevo" class="btn btn-sm bg-success m5 br4"><i
											class="fa fa-plus text-white"></i> Declarar Nuevo Formulario  </button>
									<!-- <button  __accion_bandeja="eliminar" class="btn btn-sm btn-danger dark m5 br4"><i class="fa fa-minus-circle text-white"></i> Eliminar</button>                                 -->

								</div>
							</div>
							<div class="">
								<table __forms_list id="dataT" class=" hover row-border tabla-head bg-table" style="margin: 0 0 40px 0; width:100%; min-width: 620px;">
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>




			<!-- -----------------------------------------          Modal  --------------------------------------------------- -->
			<div id="modalFormLleno" class="white-popup-block popup-basic mfp-with-anim mfp-hide">
        <div class="panel"> 
          <div class="panel-heading h-50 bg-222 text-999 flex align-center">
            <div class="ml30">
              <button __export_pdf (click)="sform.exportFormPDF()" class="btn  bg-222 btn-sm mh10" title="Descargar como PDF"><i class="glyphicons glyphicons-download_alt"></i> PDF
              </button>

              <button __CopyUrl (click)="sform.copyUrlPublicForm()" (click)="mostrarCopiado()" class="btn  bg-222 btn-sm mh10 ph10" title="Copiar al portapapeles la url de visualización"><i class="glyphicons glyphicons-link"></i>

                  <span __copiado class="p10 bg-success br-a br-light br6 map-shadow" style="display:none;position: absolute; top:20px; z-index:10; "> COPIADO al portapapeles
                  </span>
              </button>

              <button __gotoUrl (click)="sform.gotoUrlPublicForm()" class="btn  bg-222 btn-sm mh10 ph10" title="Ver Formulario en una nueva pestaña del navegador."><i class="glyphicons glyphicons-eye_open"></i>
              </button>
            </div>
            <button class="btn bg-222 ph10 close text-fff" style="position: absolute; right: 0px; text-shadow:none; opacity: 0.8;">
              <i class="glyphicons glyphicons-remove_2"></i>
            </button>
          </div> 
          <div class="panel-body of-a bg-light_ darker_ fondo_panel" style="position: relative;">
            <div __frm_content id="__frm_content" class="efecto_sobre_fondo_panel_ bg-white  pt10 pb20 br12 col-md-8 
            col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 _text-111 "  >
            </div>

          </div>
        </div>
				<!-- end: .panel -->
			</div>

		</div>
	</ion-content>
</ion-app>