<style>
	.popup-basic {
		position: relative;
		background: #FFF;
		width: auto;
		max-width: 900px;
		margin: 40px auto;
	}


</style>
<ion-app>
	<ion-content>
		<div id="listaforms_content" class="bg-content">
			<div class="pv20 ph5">
				<div class=" bg-white col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 col-xs-12" style="    box-shadow: 1px 2px 9px 1px;">
					<div class="p20 pb10">
						<h3 class="fw600 text-theme1--30 ">Bandeja de Formularios</h3>
					</div>
					
					<div class="panel">
						<div class="panel-heading  bg-dark ">
							<div class="panel-title text-white-dark">
								<i class="glyphicons glyphicons-cargo fa-lg"></i> <span class="ml10 " __cabecera_dt>Lista de Formularios enviados</span>
							</div>
							<!-- <div class="panel-title text-light">
						<i class="fa fa-file-alt fa-2x"></i> Información de <span __cabecera_dt>Usuarios</span> <span
							__cabecera_dt_est></span>
					</div> -->
						</div>
						<div class="panel-body pn">
							<div class="row">
								<div class="col-md-12">
									<button __accion_bandeja="nuevo" class="btn btn-sm bg-success m5 br4"><i
											class="fa fa-plus text-white"></i> Generar Nuevo Formulario  </button>
									<!-- <button  __accion_bandeja="eliminar" class="btn btn-sm btn-danger dark m5 br4"><i class="fa fa-minus-circle text-white"></i> Eliminar</button>                                 -->

								</div>
							</div>
							<div class="">
								<table __forms_list id="dataT" class=" hover row-border tabla-head bg-table" style="margin: 0 0 40px 0">
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>




			<!-- -----------------------------------------          Modal  --------------------------------------------------- -->
			<div id="modal" class="white-popup-block popup-basic mfp-with-anim mfp-hide">
        <div class="panel">  
          <div class="panel-body of-a bg-light_ darker_ fondo_panel" style="position: relative;">
  
            <div __frm_content
              class="efecto_sobre_fondo_panel_ bg-white mv30 pt10 pb20 br12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 " >
              <div __frms class="" style=" min-height:80vh; overflow-y: auto; align-items: center;">
  
                <div __frm_cabecera
                  style="background-color: transparent; color: #116e7a;text-align: center; padding: 10px; border-bottom: 1px solid #ccc;">
                  <h1 clasS="fw600 text-theme1--30">FORMULARIO 101</h1>
                  <h4  class="text-theme1--30 fw600 mn ">
                    PARA MINERALES <span __tipo_mineral></span>
                  </h4>
                  <div class="mt15  text-dark-darker fs12 fw600">FORMULARIO ÚNICO DEPARTAMENTAL PARA CONTROL DE SALIDA,
                    AUTORIZACIÓN DE TRANSPORTE Y VENTA DE MINERALES <span __tipo_mineral></span>
                  </div>
                </div>
  
                <div __card __frm_datos_general class=" wp100 mt30" >
                  <div class="quest-titulo">
                    DATOS REGISTRADOS
                  </div>
                  <div class="datos-generales">
                    <div class="item-dato-general">
                      <em class="item-label">1. Número de Formulario</em>
                      <div class="item-contenido text-center" __info_general="numero_formulario"></div>
                    </div>
                    <div class="item-dato-general">
                      <em class="item-label">2. Número de NIM</em>
                      <div class="item-contenido text-center" __info_general="nim"></div>
                    </div>
                    <div class="item-dato-general">
                      <em class="item-label">3. Número de NIT</em>
                      <div class="item-contenido text-center" __info_general="nit"></div>
                    </div>
                    <div class="item-dato-general">
                      <em class="item-label">4. PERIODO</em>
                      <div class="item-contenido text-center" __info_general="periodo"></div>
                    </div>
                    <div class="item-dato-general" style="flex-basis: 100%;">
                      <em class="item-label">5. Operador Minero</em>
                      <div class="item-contenido" __info_general="nombres"></div>
                    </div>
                    <div class="item-dato-general" style="flex-basis: 100%;">
                      <em class="item-label">6. Procedencia</em>
                      <div class="item-contenido" __info_general="procedencia"></div>
                    </div>
                    <!-- <div class="item-dato-general" style="flex-basis: 100%;">
                      <em class="item-label">7. Tipo de Mineral y Leyes DM %</em>
                      <div class="item-contenido" __info_general="mineral"></div>
                    </div> -->
                  </div>
                </div>
  
                <div __card __frm_datos_respuestas class=" mt10 flex flex-wrap align-start">
                </div>
                <div id="__qr"></div>
              </div>
  
            </div>
          </div>
        </div>
				<!-- end: .panel -->
			</div>

		</div>
	</ion-content>
</ion-app>