<ion-app>
<p>
  oper works!
</p>
<div class="bg-light darker p5 ">
  <a routerLink="form"  routerLinkActive="activebutton"><span class=" ml10 ph10 fs14   " style="color: #5c6279;">Form</span></a>
  <!-- <a routerLink="/form101"      routerLinkActive="activebutton"><span class=" ml10 ph10 fs14   " style="color: #5c6279;">Formulario</span></a> -->
  <!-- <a routerLink="/oper"        routerLinkActive="activebutton"><span class=" ml10 ph10 fs14   " style="color: #5c6279;">Usuarios</span></a> -->
  <!-- <a routerLink="/gestorforms"  routerLinkActive="activebutton"><span class=" ml10 ph10 fs14   " style="color: #5c6279;">Gestor de Formularios</span></a>
  <a routerLink="/form101"      routerLinkActive="activebutton"><span class=" ml10 ph10 fs14   " style="color: #5c6279;">Formulario</span></a>
  <a routerLink="/users"        routerLinkActive="activebutton"><span class=" ml10 ph10 fs14   " style="color: #5c6279;">Usuarios</span></a> -->
</div>
<router-outlet></router-outlet>
</ion-app>